@tailwind utilities;
@tailwind base;
@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #0f073e;
}

.clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}



.content-wrapper,
.navbar {
  width: 1145px;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 1280px) {
  .content-wrapper,
  .navbar {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .content-wrapper,
  .navbar {
    width: 90%;
  }
}

.axa-shadow {
  box-shadow: 0 12px 18px 2px rgb(34 0 51 / 4%),
    0 6px 22px 4px rgb(7 48 114 / 6%), 0 6px 10px -4px rgb(14 13 26 / 6%);
}

.hero-header {
  margin: 30px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-sec {
  width: 65%;
  height: 400px;
  background: #192a61;
  background-image: url("../assets/img/slider.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  padding: 2rem;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.06),
    0 6px 10px -4px rgba(14, 13, 26, 0.06);
  display: flex;
  align-items: center;
}

.intro-sec h1 {
  max-width: 90%;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.3;
  font-size: 50px;
}

.home-hiw {
  width: 32%;
  height: 400px;
  padding: 10px 2rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.06),
    0 6px 10px -4px rgba(14, 13, 26, 0.06);
}

.block-list {
  display: block;
  position: relative;
}

.block-list li {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 65px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .hero-header {
    display: block;
  }
  .intro-sec,
  .home-hiw {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .intro-sec {
    height: 250px;
    padding: 1rem;
  }
  .intro-sec h1 {
    width: 100% !important;
    font-size: 35px;
    line-height: 1.5;
  }
}

.menu-left {
  margin-left: auto !important;
}

.menu-left a {
  display: inline-block;
  position: relative;
  padding-bottom: 0px;
  transition: color 0.35s ease;
  text-transform: uppercase;
  font-weight: bold;
  color: #0f073e;
  font-size: 14px;
}

.menu-left a:hover {
  color: #08a851;
}

.menu-left a.active {
  color: #08a851;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background: white;
  z-index: 3;
  will-change: transform;
  transition: background 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.header nav .logo {
  position: absolute;
  top: -20px;
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  padding: 10px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
  animation: scale 0.5s linear;
  transition: all 200ms linear;
}

.header nav .logo:after {
  content: "";
  display: table;
  clear: both;
}
.header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header nav ul li {
  float: none;
  margin-left: 0;
}
@media (min-width: 768px) {
  .header nav ul li {
    float: left;
    margin-left: 1.8rem;
  }
}
.header nav ul li a {
  display: block;
}
@media (min-width: 576px) {
  .header nav ul li a {
    display: block;
    padding: 0.425rem 0rem;
  }
}

@media (max-width: 768px) {
  ul {
    clear: both;
  }
  ul li {
    padding: 0.5em 0;
  }
}
.hide-nav {
  transform: translateY(-120%) !important;
  -webkit-transform: translateY(-120%) !important;
}

ul.menu-left {
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 10;
}
@media (min-width: 768px) {
  ul.menu-left {
    display: block !important;
    /* float: right; */
    max-height: none;
  }
}
ul.menu-left:before {
  content: "";
  display: table;
  clear: both;
}
ul.menu-left.collapse {
  max-height: 15em !important;
}

.nav-toggle {
  display: block;
  border-radius: 5px;
  background-color: transparent;
  /* float: right; */
  height: 38px;
  width: 38px;
  cursor: pointer;
  padding: 8px 8px;
  margin-left: auto;
}
.nav-toggle.open span:first-child {
  transform: rotate(45deg) translate(4.4px, 4.4px);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-toggle.open span:last-child {
  transform: rotate(-45deg) translate(4.4px, -4.4px);
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle span {
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 4px;
  background-color: #000;
  transition: all 0.25s;
}

@keyframes scale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
